docs-outputs {
  display: flex;

  .outputs-container {
    padding-left: 0;
  }
  .events-container {
    padding-right: 0;
    border-left: 1px solid $gray-300;
  }
  .events {
    max-height: 12rem;
    overflow: auto;
    &:before {
      content: 'Events: ';
    }
  }
  .events-list {
    display: inline;
  }
  .list-inline-item:not(:last-child):after {
    content: ', ';
  }
}
