<ng-container *mobxAutorun>
  <div class="col-sm-6 outputs-container">
    <ng-container *ngFor="let output of outputs">
      <lf-checkbox [path]="relativeStorage.resolvePath(output)"></lf-checkbox>
    </ng-container>
  </div>
  <div class="col-sm-6 events-container">
    <!-- Events -->
    <div class="events">
      <span
        *ngIf="events.length === 0"
        lf-card-content
        contentType="text"
        class="text-muted"
      >
        Events will be logged here.
      </span>
      <ul
        *ngIf="events.length > 0"
        lf-card-content
        contentType="text"
        class="events-list list-inline"
      >
        <li *ngFor="let event of events" class="list-inline-item">
          <code>{{ event.name }}({{ event.emitted }})</code>
        </li>
      </ul>

      <!-- Clear events button -->
      <div *ngIf="events.length > 0" class="mt-2 mb-1">
        <button
          lf-button
          [style]="'secondary'"
          size="sm"
          (click)="clearEvents()"
        >
          Clear events
        </button>
      </div>
    </div>
  </div>
</ng-container>
