<lf-form *mobxAutorun path="coreConcepts/i18n">
  <section>
    <p>
      Internationalisation (i18n) is handled by LF at the core by the
      <docs-api-ref pkg="core" name="LfI18n"></docs-api-ref> service. At least
      for the default theme, using it is mandatory even if the application only
      requires a single language: as it is the way in which developers can
      associate translation strings with form fields (<em>e.g.</em> setting the
      label of a field).
    </p>
  </section>

  <section>
    <h2 docs-heading ref="i18nService">Using the i18n service</h2>

    <p>
      The i18n service works by associating "translation keys" with storage
      paths.
    </p>

    <docs-code language="typescript" [code]="i18nFile1Code"></docs-code>
  </section>

  <section>
    <h2 docs-heading ref="themeStrings">Theme strings</h2>

    <p></p>
  </section>

  <section>
    <h2 docs-heading ref="computedTranslations">Computed translations</h2>

    <p></p>
  </section>

  <section>
    <h2 docs-heading ref="validationIssues">Validation issues</h2>

    <p></p>
  </section>

  <section>
    <h2 docs-heading ref="asyncTranslations">Asynchronous translations</h2>

    <p></p>
  </section>

  <section>
    <h2 docs-heading ref="urlParam">Setting the language from the URL</h2>

    <p></p>
  </section>
</lf-form>
