<lf-form *mobxAutorun #form path="components/formElements/radio">
  <section>
    <p>
      The
      <docs-api-ref pkg="bootstrap-theme" name="RadioComponent"></docs-api-ref>
      exposes the <code>&lt;lf-radio&gt;</code> element, used to edit values of
      any schema where there is a list of available options to select from.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="liveExample">Live example</h2>

    <docs-playground
      [schemaInputPaths]="['schemaOptions']"
      [schemaCode]="schemaCode"
      [htmlInputPaths]="['inputs']"
      [htmlOutputPaths]="['outputs']"
      [htmlCode]="htmlCode"
      [i18nInputPaths]="['i18n']"
      [i18nCode]="i18nCode"
      [state]="state"
      #playground
    >
      <lf-radio
        path="radio"
        [displayInline]="form.relativeStorage.get('inputs/displayInline')"
        [isReadOnly]="form.relativeStorage.get('inputs/isReadOnly')"
        (change)="playground.emitEvent('change', $event)"
      ></lf-radio>
    </docs-playground>
  </section>
</lf-form>
