@use 'sass:math';

docs-api-entry {
  display: block;
  margin-bottom: $spacer;
  &:last-child {
    margin-bottom: 0;
  }

  docs-api-signature,
  docs-api-type {
    font-weight: normal;
    font-family: $font-family-monospace;
    font-size: $font-size-sm;

    a,
    a:hover {
      color: inherit;
    }
  }

  .api-title {
    margin-bottom: $spacer;
  }
  .api-title,
  .card-header {
    display: flex;
    align-content: space-between;
    align-items: center;
    word-break: break-word;
    h1,
    h3 {
      flex: 1;
      margin: 0;
    }
  }

  .import,
  .index {
    padding: $spacer;
    background-color: $gray-100;

    a,
    a:hover {
      color: inherit;
    }
  }

  .entry-source {
    flex: 0 0 auto;
    color: $text-muted;
    margin-left: $spacer;
    &:hover {
      color: $link-hover-color;
    }
  }

  .card-signature {
    display: block;
    margin: math.div(-$spacer, 2) (-$card-spacer-x) $spacer;
    padding: 0 $spacer math.div($spacer, 2);
    border-bottom: 1px solid $border-color;
  }

  .entry-list {
    padding-left: 20px;
    list-style-type: square;
    &:not(:last-child) {
      margin-bottom: $spacer;
    }
  }

  .entry-list-el:not(:last-child) {
    margin-bottom: math.div($spacer, 2);
  }

  .entry-list-el-signature {
    display: block;
    margin-bottom: math.div($spacer, 4);

    & > .name {
      font-family: $font-family-base;
      font-size: $font-size-base;
      font-weight: bold;
    }
  }

  .default-value {
    display: inline;
  }
}
