<ng-container *mobxAutorun>
  <!-- Top-level exports -->
  <ng-container *ngIf="isTopLevelExport">
    <div class="api-title">
      <h1>{{ entryName(entry) }}</h1>
      <ng-container [ngTemplateOutlet]="entrySource"></ng-container>
    </div>

    <!-- Import statement -->
    <pre class="import"><span class="token keyword"
      >import </span><span class="token punctuation">{{ '{ ' }}</span
      >{{ entry.name }}<span class="token punctuation">{{ ' }' }}</span
      ><span class="token keyword"> from </span
      ><span class="token string"
        ><a [routerLink]="['/api', entryPackage]">'{{
          entryPackageWithGroupName
        }}'</a
      ></span
      ><span class="token punctuation">;</span
    ></pre>
  </ng-container>

  <!-- Class/interface/enumeration -->
  <ng-container
    *ngIf="
      entry.kindString === 'Class' ||
      entry.kindString === 'Interface' ||
      entry.kindString === 'Enumeration'
    "
  >
    <!-- Short text -->
    <p
      *ngIf="entry.comment && entry.comment.shortText"
      [innerHTML]="md(entry.comment.shortText)"
    ></p>

    <!-- Index -->
    <pre
      class="index"
    ><docs-api-signature [signature]="entry"></docs-api-signature
      > <span class="token punctuation">{{ '{' }}</span
    ><ng-container *ngIf="
      entry.groups && entry.groups.length > 0"
    >{{ '\n' }}</ng-container
    ><ng-container *ngFor="
      let group of entry.groups || [];
      let firstGroup = first;
      let nGroups = count"
    ><ng-container *ngIf="!firstGroup">{{ '\n\n' }}</ng-container
      ><span *ngIf="nGroups > 1" class="token comment"
        >  <a routerLink="." [fragment]="groupFragment(group)"
          >// {{ group.title }}</a
      >{{ '\n' }}</span
      ><ng-container *ngFor="
        let childId of group.children;
        let lastChild = last"
        >{{ '  ' }}<a
            routerLink="."
            [fragment]="entryFragment(getEntryById(childId))"
          ><docs-api-signature
            [signature]="getEntryById(childId)"
            [addLinks]="false"
          ></docs-api-signature
          ><span class="token punctuation">{{
            entry.kindString === 'Enumeration' ? (lastChild ? '' : ',') : ';'
          }}</span></a
        >{{ lastChild ? '' : '\n' }}</ng-container
        ></ng-container
      ><ng-container *ngIf="
        entry.groups && entry.groups.length > 0"
      >{{ '\n' }}</ng-container
      ><span class="token punctuation">{{ '}' }}</span
    ></pre>

    <!-- Description -->
    <ng-container *ngIf="entry.comment && entry.comment.text">
      <section>
        <h2 docs-heading [ref]="groupFragment('Description')">Description</h2>
        <p [innerHTML]="md(entry.comment.text)"></p>
      </section>
    </ng-container>

    <!-- Groups -->
    <ng-container *ngFor="let group of entry.groups">
      <section>
        <h2 docs-heading [ref]="groupFragment(group)">{{ group.title }}</h2>
        <docs-api-entry
          *ngFor="let childId of group.children"
          [entry]="getEntryById(childId)"
        ></docs-api-entry>
      </section>
    </ng-container>
  </ng-container>

  <!--
    Type alias/variable/property/accessor/index signature/constructor/method/
    function/enumeration member
  -->
  <ng-container
    *ngIf="
      entry.kindString === 'Type alias' ||
      entry.kindString === 'Variable' ||
      entry.kindString === 'Property' ||
      entry.kindString === 'Accessor' ||
      entry.kindString === 'Index signature' ||
      entry.kindString === 'Constructor' ||
      entry.kindString === 'Method' ||
      entry.kindString === 'Function' ||
      entry.kindString === 'Enumeration member'
    "
  >
    <lf-card>
      <lf-card-content
        *ngIf="
          entry.kindString === 'Property' ||
          entry.kindString === 'Accessor' ||
          entry.kindString === 'Index signature' ||
          entry.kindString === 'Constructor' ||
          entry.kindString === 'Method' ||
          entry.kindString === 'Enumeration member'
        "
        contentType="header"
      >
        <h3 docs-heading [ref]="entryFragment(entry)">
          {{ entryName(entry) }}
        </h3>
        <ng-container [ngTemplateOutlet]="entrySource"></ng-container>
      </lf-card-content>
      <lf-card-content contentType="body">
        <docs-api-signature
          [signature]="entry"
          [displayDefault]="true"
          class="card-signature"
        ></docs-api-signature>
        <ng-container [ngTemplateOutlet]="entryComment"></ng-container>

        <!-- Signature -->
        <ng-container *ngIf="entry.signatures">
          <docs-api-entry [entry]="entry.signatures[0]"></docs-api-entry>
        </ng-container>

        <!-- Object properties -->
        <ng-container
          *ngIf="entry.kindString === 'Object literal' && entry.children"
        >
          <h4>Properties</h4>
          <ul class="entry-list">
            <li *ngFor="let prop of entry.children" class="entry-list-el">
              <docs-api-entry [entry]="prop"></docs-api-entry>
            </li>
          </ul>
        </ng-container>
      </lf-card-content>
    </lf-card>
  </ng-container>

  <!-- Constructor/call signature -->
  <ng-container
    *ngIf="
      entry.kindString === 'Constructor signature' ||
      entry.kindString === 'Call signature'
    "
  >
    <ng-container [ngTemplateOutlet]="entryComment"></ng-container>
    <!-- Type parameters -->
    <ng-container *ngIf="entry.typeParameter">
      <h4>Type parameters</h4>
      <ul class="entry-list">
        <li *ngFor="let parameter of entry.typeParameter" class="entry-list-el">
          <docs-api-entry [entry]="parameter"></docs-api-entry>
        </li>
      </ul>
    </ng-container>

    <!-- Parameters -->
    <ng-container *ngIf="entry.parameters">
      <h4>Parameters</h4>
      <ul class="entry-list">
        <li *ngFor="let parameter of entry.parameters" class="entry-list-el">
          <docs-api-entry [entry]="parameter"></docs-api-entry>
        </li>
      </ul>
    </ng-container>

    <!-- Returns -->
    <ng-container *ngIf="entry.kindString !== 'Constructor signature'">
      <h4>
        Returns
        <docs-api-type [type]="entry.type"></docs-api-type>
      </h4>
      <p
        *ngIf="entry.comment && entry.comment.returns"
        [innerHTML]="md(entry.comment.returns)"
      ></p>
    </ng-container>
  </ng-container>

  <!-- Parameter/type parameter/object attribute -->
  <ng-container
    *ngIf="
      entry.kindString === 'Parameter' ||
      entry.kindString === 'Type parameter' ||
      isObjectAttribute(entry)
    "
  >
    <docs-api-signature
      [signature]="entry"
      [displayDefault]="true"
      class="entry-list-el-signature"
    ></docs-api-signature>
    <ng-container [ngTemplateOutlet]="entryComment"></ng-container>

    <!-- Function type -->
    <ng-container
      *ngIf="
        entry.type &&
        entry.type.type === 'reflection' &&
        entry.type.declaration.signatures
      "
    >
      <docs-api-entry
        [entry]="entry.type.declaration.signatures[0]"
      ></docs-api-entry>
    </ng-container>
  </ng-container>

  <!-- Util templates --------------------------------------------------------->

  <!-- Entry comment -->
  <ng-template #entryComment>
    <ng-container *ngIf="entry.comment">
      <p
        *ngIf="entry.comment.shortText"
        [innerHTML]="md(entry.comment.shortText)"
      ></p>
      <p *ngIf="entry.comment.text" [innerHTML]="md(entry.comment.text)"></p>
    </ng-container>
  </ng-template>

  <!-- Entry source -->
  <ng-template #entrySource>
    <a
      *ngIf="entry.sources"
      title="View source"
      class="entry-source"
      [href]="entryRemoteRepositoryUrl"
      ><lf-icon icon="code"></lf-icon
    ></a>
  </ng-template>
</ng-container>
