<lf-form *mobxAutorun #form path="components/ui/modal">
  <section>
    <p>
      The
      <docs-api-ref pkg="bootstrap-theme" name="ModalComponent"></docs-api-ref>
      exposes the <code>&lt;lf-modal&gt;</code> element, providing Bootstrap's
      modal component with support for most of its features.
    </p>

    <p>
      See the
      <a href="{{ bootstrapDocsURL }}/components/modal"
        >Bootstrap documentation</a
      >
      for more information.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="liveExample">Live example</h2>

    <docs-playground
      [htmlCode]="htmlCode"
      [htmlInputPaths]="[
        'inputs',
        'headerInputs',
        'bodyInputs',
        'footerInputs'
      ]"
      [htmlOutputPaths]="['outputs']"
      [i18nCode]="i18nCode"
      [i18nInputPaths]="['i18n']"
      [state]="state"
      #playground
    >
      <button
        class="mb-3"
        lf-button
        [style]="'primary'"
        size="sm"
        (click)="modal.show()"
      >
        <samp>modal.show()</samp>
      </button>

      <lf-modal
        #modal
        path="modal"
        [startVisible]="form.relativeStorage.get('inputs/startVisible')"
        [size]="form.relativeStorage.get('inputs/size')"
        [isCentered]="form.relativeStorage.get('inputs/isCentered')"
        [animate]="form.relativeStorage.get('inputs/animate')"
        [closeWithEsc]="form.relativeStorage.get('inputs/closeWithEsc')"
        [showBackdrop]="form.relativeStorage.get('inputs/showBackdrop')"
        [ignoreBackdropClick]="
          form.relativeStorage.get('inputs/ignoreBackdropClick')
        "
        [autoFocus]="form.relativeStorage.get('inputs/autoFocus')"
        (show)="playground.emitEvent('show', $event)"
        (hide)="playground.emitEvent('hide', $event)"
        (shown)="playground.emitEvent('shown', $event)"
        (hidden)="playground.emitEvent('hidden', $event)"
      >
        <lf-modal-header
          *ngIf="
            form.relativeStorage.get('headerInputs/showCloseButton') ||
            form.relativeStorage.get('headerInputs/ngContent')
          "
          [showCloseButton]="
            form.relativeStorage.get('headerInputs/showCloseButton')
          "
        >
          <span
            [innerHTML]="form.relativeStorage.get('headerInputs/ngContent')"
          ></span>
        </lf-modal-header>
        <lf-modal-body>
          <div
            [innerHTML]="form.relativeStorage.get('bodyInputs/ngContent')"
          ></div>
          <lf-text
            *ngIf="form.relativeStorage.get('inputs/autoFocus')"
            class="mt-3"
            path="autoFocusTest"
          ></lf-text>
        </lf-modal-body>
        <lf-modal-footer>
          <button lf-button [style]="'secondary'" (click)="modal.hide()">
            Close
          </button>
        </lf-modal-footer>
      </lf-modal>
    </docs-playground>
  </section>
</lf-form>
