<lf-form *mobxAutorun #form path="components/formElements/number">
  <section>
    <p>
      The
      <docs-api-ref pkg="bootstrap-theme" name="NumberComponent"></docs-api-ref>
      exposes the <code>&lt;lf-number&gt;</code> element, used to edit values
      with a nullable <code>number</code> schema.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="liveExample">Live example</h2>

    <docs-playground
      [schemaInputPaths]="['schemaOptions']"
      [schemaCode]="schemaCode"
      [htmlInputPaths]="['inputs']"
      [htmlOutputPaths]="['outputs']"
      [htmlCode]="htmlCode"
      [i18nInputPaths]="['i18n']"
      [i18nCode]="i18nCode"
      [state]="state"
      #playground
    >
      <lf-number
        path="number"
        [scale]="form.relativeStorage.get('inputs/scale')"
        [leadingZeroes]="form.relativeStorage.get('inputs/leadingZeroes')"
        [isReadOnly]="form.relativeStorage.get('inputs/isReadOnly')"
        (change)="playground.emitEvent('change', $event)"
      ></lf-number>
    </docs-playground>
  </section>
</lf-form>
