<ng-container *mobxAutorun>
  <!-- Intrinsic/reference/unknown type -->
  <ng-container
    *ngIf="
      type.type === 'intrinsic' ||
      type.type === 'reference' ||
      type.type === 'unknown'
    "
  >
    <span
      *ngIf="!type.id || !addLinks"
      [innerHTML]="highlight(type.name)"
    ></span>
    <ng-container *ngIf="type.id && addLinks"
      ><a [routerLink]="typeUrl" [innerHTML]="highlight(type.name)"></a
    ></ng-container>

    <ng-container *ngIf="type.typeArguments">
      <span class="token operator">&lt;</span>
      <ng-container
        *ngFor="let typeArg of type.typeArguments; let first = first"
        ><span *ngIf="!first" class="token punctuation">, </span>
        <docs-api-type [type]="typeArg" [addLinks]="addLinks"></docs-api-type>
      </ng-container>
      <span class="token operator">&gt;</span>
    </ng-container>
  </ng-container>

  <!-- Type parameter -->
  <span *ngIf="type.type === 'typeParameter'">{{ type.name }}</span>

  <!-- Array type -->
  <ng-container *ngIf="type.type === 'array'">
    <ng-container
      *ngIf="
        type.elementType.type === 'intrinsic' ||
        type.elementType.type === 'reference' ||
        type.elementType.type === 'unknown'
      "
    >
      <docs-api-type
        [type]="type.elementType"
        [addLinks]="addLinks"
      ></docs-api-type>
      <span class="token punctuation">[]</span>
    </ng-container>
    <ng-container
      *ngIf="
        type.elementType.type !== 'intrinsic' &&
        type.elementType.type !== 'reference' &&
        type.elementType.type !== 'unknown'
      "
    >
      <span class="token builtin">Array</span
      ><span class="token operator">&lt;</span>
      <docs-api-type
        [type]="type.elementType"
        [addLinks]="addLinks"
      ></docs-api-type>
      <span class="token operator">&gt;</span></ng-container
    >
  </ng-container>

  <!-- Union/intersection type -->
  <ng-container *ngIf="type.type === 'union' || type.type === 'intersection'">
    <ng-container
      *ngFor="let subType of type.types; let first = first; let last = last"
    >
      <span *ngIf="!first" class="token operator">
        <ng-container *ngIf="type.type === 'union'"> | </ng-container>
        <ng-container *ngIf="type.type === 'intersection'"> & </ng-container>
      </span>
      <!-- Wrap functions in parenthesis when they're not the last type -->
      <span
        *ngIf="
          !last &&
          subType.type === 'reflection' &&
          subType.declaration.signatures
        "
        class="token punctuation"
        >(</span
      >
      <docs-api-type [type]="subType" [addLinks]="addLinks"></docs-api-type>
      <span
        *ngIf="
          !last &&
          subType.type === 'reflection' &&
          subType.declaration.signatures
        "
        class="token punctuation"
        >)</span
      >
    </ng-container>
  </ng-container>

  <!-- Tuple type -->
  <ng-container *ngIf="type.type === 'tuple'">
    <span class="token punctuation">[</span>
    <ng-container *ngFor="let subType of type.elements; let first = first">
      <span *ngIf="!first" class="token punctuation">, </span>
      <docs-api-type [type]="subType" [addLinks]="addLinks"></docs-api-type>
    </ng-container>
    <span class="token punctuation">]</span>
  </ng-container>

  <!-- Reflection type -->
  <ng-container *ngIf="type.type === 'reflection'">
    <!-- Object -->
    <ng-container
      *ngIf="type.declaration.children || type.declaration.indexSignature"
      ><span class="token punctuation">{{ '{' }}</span>
      <ng-container
        *ngFor="let child of type.declaration.children; let first = first"
        ><span *ngIf="!first" class="token punctuation">, </span>
        <docs-api-signature
          [signature]="child"
          [displayDefault]="true"
          [addLinks]="addLinks"
        ></docs-api-signature>
      </ng-container>
      <ng-container *ngIf="type.declaration.indexSignature">
        <docs-api-signature
          [signature]="type.declaration.indexSignature"
          [displayDefault]="true"
          [addLinks]="addLinks"
        ></docs-api-signature>
      </ng-container>
      <span class="token punctuation">{{ '}' }}</span></ng-container
    >

    <!-- Function -->
    <ng-container *ngIf="type.declaration.signatures"
      ><span class="token punctuation">(</span>
      <ng-container
        *ngFor="
          let parameter of type.declaration.signatures[0].parameters;
          let first = first
        "
        ><span *ngIf="!first" class="token punctuation">, </span>
        <docs-api-signature
          [signature]="parameter"
          [displayDefault]="true"
          [addLinks]="addLinks"
        ></docs-api-signature>
      </ng-container>
      <span class="token punctuation">)</span
      ><span class="token operator"> => </span>
      <docs-api-type
        [type]="type.declaration.signatures[0].type"
        [addLinks]="addLinks"
      ></docs-api-type>
    </ng-container>

    <!-- Other -->
    <ng-container
      *ngIf="
        !type.declaration.children &&
        !type.declaration.indexSignature &&
        !type.declaration.signatures
      "
      ><span class="token undefined">unknown type</span></ng-container
    >
  </ng-container>

  <!-- Predicate type -->
  <span *ngIf="type.type === 'predicate'">
    <span *ngIf="type.asserts" class="token keyword">asserts </span>
    {{ type.name }}
    <span class="token keyword"> is </span>
    <docs-api-type
      [type]="type.targetType"
      [addLinks]="addLinks"
    ></docs-api-type>
  </span>

  <!-- Query type -->
  <span *ngIf="type.type === 'query'">
    <span class="token keyword">typeof </span>
    <docs-api-type
      [type]="type.queryType"
      [addLinks]="addLinks"
    ></docs-api-type>
  </span>

  <!-- Literal type -->
  <span
    *ngIf="type.type === 'literal' && typeOf(type.value) === 'string'"
    class="token string"
    >'{{ type.value }}'</span
  >
  <span
    *ngIf="type.type === 'literal' && typeOf(type.value) !== 'string'"
    class="token"
    [class.keyword]="type.value === null"
    [class.number]="typeOf(type.value) === 'number'"
    [class.boolean]="typeOf(type.value) === 'boolean'"
    >{{ type.value | json }}</span
  >
</ng-container>
