<lf-form [path]="path">
  <lf-select path="p19Select"></lf-select>
  <lf-select path="p20Select"></lf-select>
  <lf-number path="p21Number"></lf-number>
  <lf-radio path="p22Radio" [displayInline]="true"></lf-radio>
  <lf-number path="p22Number"></lf-number>
  <lf-radio path="p24Radio" [displayInline]="true"></lf-radio>
  <lf-number path="p24Number"></lf-number>
  <lf-select path="p25Select"></lf-select>
  <lf-text path="p26Text"></lf-text>
  <lf-select path="p27Select"></lf-select>
  <lf-text path="p27Text"></lf-text>
  <lf-select path="p29Select"></lf-select>
  <lf-textarea path="p30Textarea"></lf-textarea>
  <lf-number path="p30Text"></lf-number>
  <lf-textarea path="p32Textarea"></lf-textarea>

  <lf-card>
    <lf-card-content contentType="header">
      <lf-i18n key="P34_HEADER"></lf-i18n>
    </lf-card-content>
    <lf-card-content contentType="body">
      <lf-textarea path="p34NameTextarea"></lf-textarea>
      <lf-textarea path="p34AddressTextarea"></lf-textarea>
      <lf-radio path="p34Radio" [displayInline]="true"></lf-radio>
    </lf-card-content>
  </lf-card>
</lf-form>
