@use 'sass:math';

@import '../../../libs/bootstrap-theme/src/bootstrap-theme';

// SCSS utilities
@import './app/scss-utils/card-header-btn';
@import './app/scss-utils/syntax';

// Styles from components
@import './app/components/not-found/not-found.component';
@import './app/components/helpers/api-entry/api-entry.component';
@import './app/components/helpers/code/code.component';
@import './app/components/helpers/outputs/outputs.component';
@import './app/components/api/api.component';

html,
body {
  height: 100%;
}

.navbar-brand {
  padding: 0; // Remove unneeded padding due to logo
}
#lf-logo {
  margin-right: $spacer;
}

.playground-tab-content {
  border: 1px solid $border-color;
  border-top: 0;
  border-radius: 0 0 $border-radius $border-radius;
  padding: $spacer;
}

// Documentation styles
h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: break-word;
  > a.heading-link {
    font-size: 0.8em;
    text-decoration: none;
    transition: opacity 100ms;
    opacity: 0;
    &:before {
      content: ' ';
    }
  }
  &:hover > a.heading-link {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
h1 {
  font-weight: 300;
  margin-bottom: $spacer;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: $spacer;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: $spacer;
}
h4 {
  font-size: 1.15rem;
  margin-bottom: math.div($spacer, 2);
}
h5 {
  font-size: 1.1rem;
  margin-bottom: math.div($spacer, 2);
}
h6 {
  font-size: 1.05rem;
  margin-bottom: math.div($spacer, 2);
}

section {
  margin-bottom: $spacer * 2;
  & > section {
    margin-bottom: $spacer * 1.5;
  }
}

section,
pre,
p,
ul,
ol {
  &:last-child {
    margin-bottom: 0;
  }
}

ul,
ol {
  li:not(.nav-item) {
    margin-bottom: math.div($spacer, 4);
  }
}

pre {
  white-space: pre-wrap;
  font-size: $font-size-sm;
}
