<ng-container *mobxAutorun>
  <ng-container *ngFor="let path of recordFieldsPaths(path)">
    <ng-container
      [ngTemplateOutlet]="pathToInput"
      [ngTemplateOutletContext]="{ $implicit: path }"
    ></ng-container>
  </ng-container>
</ng-container>

<ng-template #pathToInput let-path>
  <ng-container *ngIf="canShow(path)">
    <lf-select
      *ngIf="schemaOf(path).allowedValues"
      [path]="path"
      [isReadOnly]="schemaOf(path).docsOptions?.isReadOnly"
    ></lf-select>

    <ng-container *ngIf="!schemaOf(path).allowedValues">
      <lf-checkbox
        *ngIf="schemaOf(path).type === 'boolean'"
        [path]="path"
        [isReadOnly]="schemaOf(path).docsOptions?.isReadOnly"
      ></lf-checkbox>

      <lf-text
        *ngIf="
          schemaOf(path).type === 'string' &&
          !schemaOf(path).docsOptions?.useTextarea
        "
        [path]="path"
        [isReadOnly]="schemaOf(path).docsOptions?.isReadOnly"
      ></lf-text>

      <lf-textarea
        *ngIf="
          schemaOf(path).type === 'string' &&
          schemaOf(path).docsOptions?.useTextarea
        "
        [path]="path"
        [isReadOnly]="schemaOf(path).docsOptions?.isReadOnly"
        [initialHeight]="schemaOf(path).docsOptions?.initialHeight || '6rem'"
      ></lf-textarea>

      <lf-number
        *ngIf="schemaOf(path).type === 'number'"
        [path]="path"
        [isReadOnly]="schemaOf(path).docsOptions?.isReadOnly"
      ></lf-number>

      <lf-date
        *ngIf="schemaOf(path).type === 'date'"
        [path]="path"
        [isReadOnly]="schemaOf(path).docsOptions?.isReadOnly"
      ></lf-date>

      <lf-table
        *ngIf="
          schemaOf(path).type === 'list' || schemaOf(path).type === 'table'
        "
        [path]="path"
        [isReadOnly]="schemaOf(path).docsOptions?.isReadOnly"
      >
        <lf-table-header>
          <lf-table-column
            *ngIf="schemaOf(path + '/?').type !== 'record'"
            id="value"
          ></lf-table-column>
          <ng-container *ngIf="schemaOf(path + '/?').type === 'record'">
            <lf-table-column
              *ngFor="let childPath of recordFieldsPaths(path + '/?')"
              [id]="childPath.split('/').slice(-1)[0]"
            ></lf-table-column>
          </ng-container>
        </lf-table-header>

        <ng-template #lfTableRowTemplate let-id="id">
          <tr lf-table-row [path]="id" #row>
            <td lf-table-cell *ngIf="schemaOf(row.path).type !== 'record'">
              <ng-container
                [ngTemplateOutlet]="pathToInput"
                [ngTemplateOutletContext]="{ $implicit: row.path }"
              ></ng-container>
            </td>
            <td
              lf-table-cell
              *ngFor="let childPath of recordFieldsPaths(row.path)"
            >
              <ng-container
                [ngTemplateOutlet]="pathToInput"
                [ngTemplateOutletContext]="{ $implicit: childPath }"
              ></ng-container>
            </td>
          </tr>
        </ng-template>
      </lf-table>
    </ng-container>
  </ng-container>
</ng-template>
