<lf-form [path]="path">
  <lf-checkbox-group
    path="p10CheckboxGroup"
    [displayInline]="true"
  ></lf-checkbox-group>
  <lf-text path="p10Text"></lf-text>
  <lf-select path="p11Select"></lf-select>
  <lf-text path="p11Text"></lf-text>
  <lf-select path="p12Select"></lf-select>
  <lf-text path="p12Text"></lf-text>
  <lf-number path="p13Number"></lf-number>
  <lf-radio path="p14Radio" [displayInline]="true"></lf-radio>
  <lf-select path="p14Select"></lf-select>
  <lf-radio path="p15Radio" [displayInline]="true"></lf-radio>
  <lf-text path="p15Text"></lf-text>
  <lf-select path="p15Select"></lf-select>
</lf-form>
