<lf-form *mobxAutorun #form path="components/ui/button">
  <section>
    <p>
      The
      <docs-api-ref pkg="bootstrap-theme" name="ButtonComponent"></docs-api-ref>
      provides Bootstrap's button component with support for most of its
      features. It can be applied to <code>&lt;button&gt;</code>,
      <code>&lt;input&gt;</code>, or <code>&lt;a&gt;</code> elements using the
      <code>[lf-button]</code> attribute.
    </p>

    <p>
      See the
      <a href="{{ bootstrapDocsURL }}/components/buttons"
        >Bootstrap documentation</a
      >
      for more information.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="liveExample">Live example</h2>

    <docs-playground
      [htmlCode]="htmlCode"
      [htmlInputPaths]="['inputs']"
      [htmlOutputPaths]="['outputs']"
      #playground
    >
      <!-- <button> element -->
      <button
        class="mb-3"
        *ngIf="form.relativeStorage.get('inputs/element') === '<button>'"
        lf-button
        [style]="form.relativeStorage.get('inputs/style')"
        [size]="form.relativeStorage.get('inputs/size')"
        [type]="form.relativeStorage.get('inputs/type')"
        [block]="form.relativeStorage.get('inputs/block')"
        [dropdownToggle]="form.relativeStorage.get('inputs/dropdownToggle')"
        [dropdownToggleSplit]="
          form.relativeStorage.get('inputs/dropdownToggleSplit')
        "
        [isDisabled]="form.relativeStorage.get('inputs/isDisabled')"
        [isActive]="form.relativeStorage.get('inputs/isActive')"
        (click)="playground.emitEvent('click', $event)"
        [innerHTML]="
          form.relativeStorage.get('inputs/dropdownToggleSplit')
            ? ''
            : form.relativeStorage.get('inputs/ngContent')
        "
      ></button>
      <!-- <input> element -->
      <input
        class="mb-3"
        *ngIf="form.relativeStorage.get('inputs/element') === '<input>'"
        lf-button
        [style]="form.relativeStorage.get('inputs/style')"
        [size]="form.relativeStorage.get('inputs/size')"
        [type]="form.relativeStorage.get('inputs/type')"
        [block]="form.relativeStorage.get('inputs/block')"
        [isDisabled]="form.relativeStorage.get('inputs/isDisabled')"
        [isActive]="form.relativeStorage.get('inputs/isActive')"
        (click)="playground.emitEvent('click', $event)"
        [value]="form.relativeStorage.get('inputs/value')"
      />
      <!-- <a> element -->
      <a
        class="mb-3"
        *ngIf="form.relativeStorage.get('inputs/element') === '<a>'"
        lf-button
        [routerLink]="form.relativeStorage.get('inputs/routerLink')"
        [style]="form.relativeStorage.get('inputs/style')"
        [size]="form.relativeStorage.get('inputs/size')"
        [block]="form.relativeStorage.get('inputs/block')"
        [dropdownToggle]="form.relativeStorage.get('inputs/dropdownToggle')"
        [dropdownToggleSplit]="
          form.relativeStorage.get('inputs/dropdownToggleSplit')
        "
        [isActive]="form.relativeStorage.get('inputs/isActive')"
        (click)="playground.emitEvent('click', $event)"
        [innerHTML]="
          form.relativeStorage.get('inputs/dropdownToggleSplit')
            ? ''
            : form.relativeStorage.get('inputs/ngContent')
        "
      ></a>
    </docs-playground>
  </section>
</lf-form>
