<lf-form *mobxAutorun path="introduction">
  <section>
    <p>
      Lightweightform (or LF for short) is an Angular-based open-source library
      that simplifies the development of demanding web forms as single-page
      applications. It provides tools to help developers manage the state,
      validations, routing, internationalisation, UI, and other aspects of their
      forms.
    </p>

    <p>
      Lightweightform is proudly sponsored by
      <a href="https://www.opensoft.pt/en/">Opensoft</a>.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="why">Why was Lightweightform created?</h2>

    <p>It all started with a few challenges:</p>
    <ul>
      <li>
        How to build demanding web forms (possibly with more than a thousand
        fields each) as single-page applications?
      </li>
      <li>
        How to handle and validate data constrained by a large set of
        validations on both the client and server-side?
      </li>
      <li>
        How to effectively maintain and evolve multiple of these web forms,
        possibly all under a single design language?
      </li>
    </ul>
    <p>
      With these challenges in mind, we started to work on a library that
      attempts to deal with most of the low-level aspects of building web forms
      whilst allowing developers to spend their time on what matters most: the
      business logic (or form-specific logic). The result was a powerful
      solution to build demanding forms in a quick and simple way:
      Lightweightform.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="goals">Goals of Lightweightform</h2>

    <section>
      <h3 docs-heading ref="extensibilityConfigurability">
        Extensibility and configurability
      </h3>

      <p>
        Lightweightform works under the pretext of "themes". To LF, a theme is a
        package which provides a set of Angular components that developers can
        use to build their web form applications. Themes should be built on top
        of
        <a href="https://www.npmjs.com/package/@lightweightform/core"
          >LF's core</a
        >.
      </p>

      <p>
        We provide an "official" theme under the name of Bootstrap theme,
        available as
        <a href="https://www.npmjs.com/package/@lightweightform/bootstrap-theme"
          ><code>@lightweightform/bootstrap-theme</code></a
        >. Developers who are happy with only changing the style of the
        Bootstrap theme may do so by overriding the provided SCSS. This
        documentation is itself built using LF's Bootstrap theme and intends to
        document the core aspects of LF, as well as the theme's specific
        components and APIs.
      </p>

      <p>
        Developers may further create new components directly on top of LF's
        core or, if they do in fact require a whole different look for their web
        form applications, they are encouraged to build a new theme on top of
        the core using the Bootstrap theme as reference.
      </p>

      <p>
        Being able to maintain a set of applications under a single theme is one
        of LF's goals in order to ease the maintenance and evolution of said
        applications.
      </p>
    </section>

    <section>
      <h3 docs-heading ref="dontRepeat">Don't repeat yourself</h3>

      <p>
        Arguably one of the most important aspects of form development is the
        validation of their data. Typically this validation should occur both on
        the client and server side of an application in order to leverage from
        both efficiency and security.
      </p>

      <p>
        It's an important goal of LF that these validations should not be
        written more than once, especially so in cases where there are hundreds
        of fields to validate.
      </p>
    </section>
  </section>

  <section>
    <h2 docs-heading ref="browserSupport">Browser support</h2>

    <p>For Lightweightform's core:</p>
    <ul>
      <li>
        <strong>Internet Explorer</strong>: 9+ (requires at least
        <code>Map</code> and <code>Array.from</code> polyfills)
      </li>
      <li><strong>Evergreen browsers</strong>: Latest 2 versions</li>
    </ul>

    <p>For Lightweightform's Bootstrap theme:</p>
    <ul>
      <li><strong>Evergreen browsers</strong>: Latest 2 versions</li>
    </ul>
  </section>
</lf-form>
