<lf-form path="/accommodation">
  <lf-select path="h1Select"></lf-select>
  <lf-select path="h2Select"></lf-select>
  <lf-select path="h3Select"></lf-select>
  <lf-select path="h3OptionalSelect"></lf-select>
  <lf-number path="h4Number"></lf-number>
  <lf-select path="h4Select"></lf-select>
  <lf-number path="h5Number"></lf-number>
  <lf-select path="h6Select"></lf-select>
  <lf-select path="h7Select"></lf-select>
  <lf-select path="h8Select"></lf-select>
  <lf-select path="h9Select"></lf-select>
  <lf-radio path="h10Radio" [displayInline]="true"></lf-radio>
  <lf-select path="h11Select"></lf-select>
</lf-form>
