<lf-form *mobxAutorun #form path="components/formElements/checkbox">
  <section>
    <p>
      The
      <docs-api-ref
        pkg="bootstrap-theme"
        name="CheckboxComponent"
      ></docs-api-ref>
      exposes the <code>&lt;lf-checkbox&gt;</code> element, used to edit values
      with a <code>boolean</code> schema.
    </p>

    <p>
      This component supports <code>nullable</code> schemas: the checkbox enters
      the <code>indeterminate</code> state when its associated value is
      <code>null</code>.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="liveExample">Live example</h2>

    <docs-playground
      [schemaInputPaths]="['schemaOptions']"
      [schemaCode]="schemaCode"
      [htmlInputPaths]="['inputs']"
      [htmlOutputPaths]="['outputs']"
      [htmlCode]="htmlCode"
      [i18nInputPaths]="['i18n']"
      [i18nCode]="i18nCode"
      [state]="state"
      #playground
    >
      <lf-checkbox
        path="checkbox"
        [isReadOnly]="form.relativeStorage.get('inputs/isReadOnly')"
        (change)="playground.emitEvent('change', $event)"
      ></lf-checkbox>
    </docs-playground>
  </section>
</lf-form>
