<ng-container *mobxAutorun>
  <ng-content></ng-content>

  <tabset>
    <!-- Schema tab -->
    <tab heading="Schema" *ngIf="schemaInputPaths.length > 0">
      <div class="playground-tab-content">
        <docs-code
          language="typescript"
          [code]="schemaCode"
          [options]="{ isValue: true }"
        ></docs-code>

        <ng-container *ngFor="let inputPath of schemaInputPaths">
          <h3 class="mt-4">{{ pathLabel(inputPath) }}</h3>
          <docs-inputs [path]="inputPath"></docs-inputs>
        </ng-container>
      </div>
    </tab>

    <!-- Component tab -->
    <tab
      heading="Component"
      *ngIf="htmlInputPaths.length > 0 || htmlOutputPaths.length > 0"
    >
      <div class="playground-tab-content">
        <docs-code language="html" [code]="htmlCode"></docs-code>

        <ng-container *ngFor="let htmlPath of htmlInputPaths">
          <h3 class="mt-4">{{ pathLabel(htmlPath) }}</h3>
          <docs-inputs [path]="htmlPath"></docs-inputs>
        </ng-container>

        <ng-container *ngFor="let htmlPath of htmlOutputPaths">
          <h3 class="mt-4">{{ pathLabel(htmlPath) }}</h3>
          <docs-outputs #outputs [path]="htmlPath"></docs-outputs>
        </ng-container>
      </div>
    </tab>

    <!-- I18n tab -->
    <tab heading="I18n" *ngIf="i18nInputPaths.length > 0">
      <div class="playground-tab-content">
        <docs-code
          language="typescript"
          [code]="i18nCode"
          [options]="{ isValue: true }"
        ></docs-code>

        <ng-container *ngFor="let i18nPath of i18nInputPaths">
          <h3 class="mt-4">{{ pathLabel(i18nPath) }}</h3>
          <docs-inputs [path]="i18nPath"></docs-inputs>
        </ng-container>
      </div>
    </tab>

    <!-- State tab -->
    <tab heading="State" *ngIf="state">
      <div class="playground-tab-content">
        <div *ngFor="let stateProp of state">
          {{ stateProp.name }}: <code>{{ stateProp.state | json }}</code>
        </div>
      </div>
    </tab>
  </tabset>
</ng-container>
