<lf-form *mobxAutorun #form path="components/formElements/date">
  <section>
    <p>
      The
      <docs-api-ref pkg="bootstrap-theme" name="DateComponent"></docs-api-ref>
      exposes the <code>&lt;lf-date&gt;</code> element, used to edit values with
      a nullable <code>date</code> schema.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="liveExample">Live example</h2>

    <docs-playground
      [schemaInputPaths]="['schemaOptions']"
      [schemaCode]="schemaCode"
      [htmlInputPaths]="['inputs']"
      [htmlOutputPaths]="['outputs']"
      [htmlCode]="htmlCode"
      [i18nInputPaths]="['i18n']"
      [i18nCode]="i18nCode"
      [state]="state"
      #playground
    >
      <lf-date
        path="date"
        [isReadOnly]="form.relativeStorage.get('inputs/isReadOnly')"
        (change)="playground.emitEvent('change', $event)"
      ></lf-date>
    </docs-playground>
  </section>
</lf-form>
