<ng-container *mobxAutorun>
  <!-- Class -->
  <ng-container *ngIf="signature.kindString === 'Class'">
    <span
      *ngIf="
        signature.flags &&
        (signature.flags.isModule ||
          signature.flags.isService ||
          signature.flags.isComponent ||
          signature.flags.isDirective)
      "
      >@<span class="token function">{{
        signature.flags.isModule
          ? 'NgModule'
          : signature.flags.isService
          ? 'Injectable'
          : signature.flags.isComponent
          ? 'Component'
          : 'Directive'
      }}</span
      ><span class="token punctuation">(</span
      ><span
        *ngIf="signature.decoratorArgument"
        [innerHTML]="formatValue(signature.decoratorArgument)"
      ></span
      ><span class="token punctuation">{{ ')\n' }}</span></span
    ><span
      *ngIf="signature.flags && signature.flags.isAbstract"
      class="token keyword"
      >abstract </span
    ><span class="token keyword">class </span
    ><span class="token name">{{ signature.name }}</span>
    <ng-container [ngTemplateOutlet]="typeParameters"></ng-container>
    <ng-container [ngTemplateOutlet]="extends"></ng-container>
    <ng-container *ngIf="signature.implementedTypes">
      <span class="token keyword"> implements </span>
      <ng-container
        *ngFor="
          let implemented of uniqueImplemented(signature.implementedTypes);
          let i = index
        "
      >
        <span *ngIf="i !== 0" class="token punctuation">, </span>
        <span class="token class-name"
          ><docs-api-type
            [type]="implemented"
            [addLinks]="addLinks"
          ></docs-api-type
        ></span>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- Interface -->
  <ng-container *ngIf="signature.kindString === 'Interface'">
    <span class="token keyword">interface </span
    ><span class="token name">{{ signature.name }}</span>
    <ng-container [ngTemplateOutlet]="typeParameters"></ng-container>
    <ng-container [ngTemplateOutlet]="extends"></ng-container>
  </ng-container>

  <!-- Enumeration -->
  <ng-container *ngIf="signature.kindString === 'Enumeration'">
    <span class="token keyword">enum </span
    ><span class="token name">{{ signature.name }}</span>
  </ng-container>

  <!-- Type alias -->
  <ng-container *ngIf="signature.kindString === 'Type alias'">
    <span class="token keyword">type </span
    ><span class="name">{{ signature.name }}</span
    ><ng-container [ngTemplateOutlet]="typeParameters"></ng-container
    ><span class="token operator"> = </span>
    <docs-api-type
      [type]="signature.type"
      [addLinks]="addLinks"
    ></docs-api-type>
    <ng-container [ngTemplateOutlet]="defaultValue"></ng-container>
  </ng-container>

  <!-- Variable/object literal -->
  <ng-container
    *ngIf="
      signature.kindString === 'Variable' ||
      signature.kindString === 'Object literal'
    "
  >
    <ng-container *ngIf="signature.flags">
      <span *ngIf="signature.flags.isConst" class="token keyword">const </span
      ><span *ngIf="signature.flags.isLet" class="token keyword">let </span
      ><span *ngIf="signature.flags.isVar" class="token keyword"
        >var
      </span></ng-container
    ><span class="name">{{ signature.name }}</span
    ><span class="token punctuation">: </span>
    <docs-api-type
      [type]="signature.type"
      [addLinks]="addLinks"
    ></docs-api-type>
    <ng-container [ngTemplateOutlet]="defaultValue"></ng-container>
  </ng-container>

  <!-- Enumeration member -->
  <ng-container *ngIf="signature.kindString === 'Enumeration member'">
    <span class="name">{{ signature.name }}</span>
    <ng-container [ngTemplateOutlet]="defaultValue"></ng-container>
  </ng-container>

  <!-- Property -->
  <ng-container *ngIf="signature.kindString === 'Property'">
    <ng-container *ngIf="signature.flags">
      <span *ngIf="signature.flags.isInput"
        >@<span class="token function">Input</span
        ><span class="token punctuation"
          >(<span class="token string">'{{ signature.inputName }}'</span>)</span
        ></span
      ><span *ngIf="signature.flags.isOutput"
        >@<span class="token function">Output</span
        ><span class="token punctuation"
          >(<span class="token string">'{{ signature.outputName }}'</span
          >)</span
        ></span
      ><span *ngIf="signature.flags.isAbstract" class="token keyword"
        >abstract </span
      ><span *ngIf="signature.flags.isStatic" class="token keyword"
        >static </span
      ><span *ngIf="signature.flags.isReadonly" class="token keyword"
        >readonly
      </span></ng-container
    ><span
      class="name"
      *ngIf="
        !signature.flags ||
        !(signature.flags.isInput || signature.flags.isOutput)
      "
      >{{ signature.name }}</span
    ><span
      *ngIf="signature.flags && signature.flags.isOptional"
      class="token operator"
      >?</span
    ><span class="token punctuation">: </span>
    <docs-api-type
      [type]="signature.type"
      [addLinks]="addLinks"
    ></docs-api-type>
    <ng-container [ngTemplateOutlet]="defaultValue"></ng-container>
  </ng-container>

  <!-- Accessor -->
  <ng-container *ngIf="signature.kindString === 'Accessor'">
    <ng-container *ngIf="signature.flags">
      <span *ngIf="signature.flags.isAbstract" class="token keyword"
        >abstract </span
      ><span *ngIf="signature.flags.isStatic" class="token keyword"
        >static
      </span></ng-container
    ><span *ngIf="!signature.setSignature" class="token keyword">readonly </span
    ><span class="name">{{ signature.name }}</span
    ><span class="token punctuation">: </span>
    <docs-api-type
      [type]="signature.getSignature[0].type"
      [addLinks]="addLinks"
    ></docs-api-type>
  </ng-container>

  <!-- Index signature -->
  <ng-container *ngIf="signature.kindString === 'Index signature'">
    <span class="token punctuation">[</span
    ><span class="name">{{ signature.parameters[0].name }}</span
    ><span class="token punctuation">: </span
    ><docs-api-type
      [type]="signature.parameters[0].type"
      [addLinks]="addLinks"
    ></docs-api-type
    ><span class="token punctuation">]: </span>
    <docs-api-type
      [type]="signature.type"
      [addLinks]="addLinks"
    ></docs-api-type>
  </ng-container>

  <!-- Function/constructor/method -->
  <ng-container
    *ngIf="
      signature.kindString === 'Constructor' ||
      signature.kindString === 'Method' ||
      signature.kindString === 'Function'
    "
  >
    <span
      *ngIf="isTopLevelExport && signature.kindString === 'Function'"
      class="token keyword"
      >function </span
    ><ng-container *ngIf="signature.flags">
      <span *ngIf="signature.flags.isAbstract" class="token keyword"
        >abstract </span
      ><span *ngIf="signature.flags.isStatic" class="token keyword"
        >static
      </span>
    </ng-container>
    <docs-api-signature
      [signature]="signature.signatures[0]"
      [addLinks]="addLinks"
    ></docs-api-signature>
  </ng-container>

  <!-- Constructor/call signature -->
  <ng-container
    *ngIf="
      signature.kindString === 'Constructor signature' ||
      signature.kindString === 'Call signature'
    "
  >
    <span
      *ngIf="signature.kindString === 'Constructor signature'"
      class="token keyword"
      >constructor</span
    >
    <span
      *ngIf="
        signature.kindString === 'Call signature' && signature.name !== '__call'
      "
      class="token function"
      ><span class="name">{{ signature.name }}</span></span
    >
    <ng-container [ngTemplateOutlet]="typeParameters"></ng-container>
    <span class="token punctuation">(</span>
    <ng-container *ngFor="let parameter of signature.parameters; let i = index">
      <span *ngIf="i !== 0" class="token punctuation">, </span
      ><docs-api-signature
        [signature]="parameter"
        [addLinks]="addLinks"
      ></docs-api-signature>
    </ng-container>
    <span class="token punctuation">)</span>
    <ng-container *ngIf="signature.kindString !== 'Constructor signature'">
      <span class="token punctuation">: </span>
      <docs-api-type
        [type]="signature.type"
        [addLinks]="addLinks"
      ></docs-api-type>
    </ng-container>
  </ng-container>

  <!-- Parameter -->
  <ng-container *ngIf="signature.kindString === 'Parameter'">
    <span
      *ngIf="signature.flags && signature.flags.isRest"
      class="token operator"
      >...</span
    ><span class="name">{{ signature.name }}</span
    ><span
      *ngIf="
        (signature.flags && signature.flags.isOptional) ||
        (!displayDefault && signature.defaultValue)
      "
      class="token operator"
      >?</span
    ><span class="token punctuation">: </span>
    <docs-api-type
      [type]="signature.type"
      [addLinks]="addLinks"
    ></docs-api-type>
    <ng-container [ngTemplateOutlet]="defaultValue"></ng-container>
  </ng-container>

  <!-- Type parameter -->
  <ng-container *ngIf="signature.kindString === 'Type parameter'">
    <span class="name">{{ signature.name }}</span
    ><ng-container *ngIf="signature.type">
      <span class="token keyword"> extends </span
      ><docs-api-type
        [type]="signature.type"
        [addLinks]="addLinks"
      ></docs-api-type
    ></ng-container>
    <ng-container [ngTemplateOutlet]="defaultValue"></ng-container>
  </ng-container>

  <!-- Type parameters -->
  <ng-template #typeParameters>
    <ng-container *ngIf="signature.typeParameter">
      <span class="token operator">&lt;</span
      ><ng-container
        *ngFor="let typeParam of signature.typeParameter; let i = index"
        ><span *ngIf="i !== 0" class="token punctuation">, </span
        ><docs-api-signature
          [signature]="typeParam"
          [addLinks]="addLinks"
        ></docs-api-signature></ng-container
      ><span class="token operator">&gt;</span>
    </ng-container></ng-template
  >

  <!-- Class/interface extends -->
  <ng-template #extends>
    <ng-container *ngIf="signature.extendedTypes">
      <span class="token keyword"> extends </span>
      <span class="token class-name"
        ><docs-api-type
          [type]="signature.extendedTypes[0]"
          [addLinks]="addLinks"
        ></docs-api-type
      ></span>
    </ng-container>
  </ng-template>

  <!-- Default value -->
  <ng-template #defaultValue>
    <ng-container *ngIf="displayDefault && signature.defaultValue">
      <span class="token operator"> = </span>
      <pre
        class="default-value"
        [innerHTML]="formatValue(signature.defaultValue.trim())"
      ></pre>
    </ng-container>
  </ng-template>
</ng-container>
