<lf-form *mobxAutorun #form path="components/formElements/file">
  <section>
    <p>
      The
      <docs-api-ref pkg="bootstrap-theme" name="FileComponent"></docs-api-ref>
      exposes the <code>&lt;lf-file&gt;</code> element, used to edit values with
      a nullable <code>string</code> schema. Storage values associated with this
      schema will contain the name of the file to be uploaded.
    </p>

    <p>
      Chosen files are set in the
      <docs-api-ref pkg="core" name="LfFileHolder"></docs-api-ref> service,
      associating files with the storage paths of the values representing them.
      When uploading the whole form to a server, this service can be used to
      build a
      <a href="https://developer.mozilla.org/en-US/docs/Web/API/FormData"
        ><code>FormData</code></a
      >
      object containing all files to upload.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="liveExample">Live example</h2>

    <docs-playground
      [schemaInputPaths]="['schemaOptions']"
      [schemaCode]="schemaCode"
      [htmlInputPaths]="['inputs']"
      [htmlOutputPaths]="['outputs']"
      [htmlCode]="htmlCode"
      [i18nInputPaths]="['i18n']"
      [i18nCode]="i18nCode"
      [state]="state"
      #playground
    >
      <lf-file
        path="file"
        [isReadOnly]="form.relativeStorage.get('inputs/isReadOnly')"
        [accept]="form.relativeStorage.get('inputs/accept')"
        [minSize]="form.relativeStorage.get('inputs/minSize')"
        [maxSize]="form.relativeStorage.get('inputs/maxSize')"
        (change)="playground.emitEvent('change', $event)"
      ></lf-file>
    </docs-playground>
  </section>
</lf-form>
