<lf-form *mobxAutorun #form path="components/ui/card">
  <section>
    <p>
      The
      <docs-api-ref pkg="bootstrap-theme" name="CardComponent"></docs-api-ref>
      exposes the <code>&lt;lf-card&gt;</code> element, providing Bootstrap's
      card component with support for most of its features.
    </p>

    <p>
      Optionally, the <code>CardContentComponent</code> may be used with the
      <code>&lt;lf-card-content&gt;</code> element or
      <code>[lf-card-content]</code>
      attribute to access most of the Bootstrap card's sub-elements.
    </p>

    <p>
      See the
      <a href="{{ bootstrapDocsURL }}/components/card"
        >Bootstrap documentation</a
      >
      for more information.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="liveExample">Live example</h2>

    <docs-playground
      [htmlCode]="htmlCode"
      [htmlInputPaths]="['inputs']"
      #playground
    >
      <lf-card class="card {{ form.relativeStorage.get('inputs/class') }}">
        <lf-card-content
          *ngFor="let content of form.relativeStorage.get('inputs/content')"
          [contentType]="content.contentType"
          [innerHTML]="replaceNgContent(content.ngContent)"
        >
        </lf-card-content>
      </lf-card>
    </docs-playground>
  </section>
</lf-form>
