@use 'sass:math';

docs-code {
  display: block;
  position: relative;
  padding: $spacer;
  background-color: $gray-100;

  &:not(:last-child) {
    margin-bottom: $spacer;
  }

  pre {
    margin-bottom: 0;
  }
  .copy {
    position: absolute;
    top: math.div($spacer, 2);
    right: math.div($spacer, 2);
    padding: math.div($spacer, 8) math.div($spacer, 6);
    font-size: $font-size-base * 0.8;
    opacity: 0;
    transition: opacity 100ms;
  }
  &:hover .copy {
    opacity: 0.9;
  }
}
