<ng-container *mobxAutorun>
  <pre><code [innerHTML]="highlightedCode"></code></pre>
  <button
    *ngIf="!hasError"
    lf-button
    class="copy"
    [style]="'secondary'"
    size="sm"
    (click)="copyCode()"
    (blur)="clearCopied()"
  >
    {{ buttonText }}
  </button>
</ng-container>
