<ng-container *mobxAutorun>
  <a [routerLink]="url" [fragment]="fragment"
    ><span #content><ng-content></ng-content></span
    ><span *ngIf="!content.innerHTML.trim()"
      ><code>{{ refName }}</code></span
    ></a
  >
</ng-container>
