<lf-form *mobxAutorun #form path="components/formElements/table">
  <section>
    <p>
      The
      <docs-api-ref pkg="bootstrap-theme" name="TableComponent"></docs-api-ref>
      exposes the <code>&lt;lf-table&gt;</code> element, used to edit values
      with a non-nullable <code>table</code> or <code>list</code> schema.
    </p>

    <p>
      The
      <docs-api-ref
        pkg="theme-common"
        name="TableHeaderDirective"
      ></docs-api-ref
      >, exposing the <code>&lt;lf-table-header&gt;</code> element, should be
      used to define the header of the table, where each table column, defined
      via the
      <docs-api-ref
        pkg="theme-common"
        name="TableColumnDirective"
      ></docs-api-ref>
      may be declared in a hierarchical fashion (as shown in the example).
    </p>

    <p>
      The rows of the table should be defined using an
      <code>&lt;ng-template&gt;</code> with an
      <code>lfTableRowTemplate</code> reference. As context, the row template
      receives the value associated with the row as an implicit variable and the
      identifier of the row in the <code>id</code> variable.
    </p>

    <p>
      A table row should be defined using the
      <docs-api-ref
        pkg="bootstrap-theme"
        name="TableRowComponent"
      ></docs-api-ref>
      by means of a <code>&lt;tr&gt;</code> element with an
      <code>[lf-table-row]</code> attribute (typically by passing the
      <code>id</code> as its value path).
    </p>

    <p>
      Table cells should be defined using the
      <docs-api-ref
        pkg="bootstrap-theme"
        name="TableCellComponent"
      ></docs-api-ref>
      by means of a <code>&lt;td&gt;</code> or <code>&lt;th&gt;</code> element
      with an <code>[lf-table-cell]</code> attribute.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="liveExample">Live example</h2>

    <docs-playground
      [schemaInputPaths]="['schemaOptions']"
      [schemaCode]="schemaCode"
      [htmlInputPaths]="['inputs']"
      [htmlOutputPaths]="['outputs']"
      [htmlCode]="htmlCode"
      [i18nInputPaths]="['i18n']"
      [i18nCode]="i18nCode"
      [state]="state"
      #playground
    >
      <lf-table
        path="table"
        [maxVisibleRows]="form.relativeStorage.get('inputs/maxVisibleRows')"
        [isReadOnly]="form.relativeStorage.get('inputs/isReadOnly')"
        (change)="playground.emitEvent('change', $event)"
      >
        <lf-table-header>
          <lf-table-column id="fullName">
            <lf-table-column id="firstName"></lf-table-column>
            <lf-table-column id="lastName"></lf-table-column>
          </lf-table-column>
          <lf-table-column id="age"></lf-table-column>
          <lf-table-column id="married"></lf-table-column>
          <lf-table-column id="profession"></lf-table-column>
        </lf-table-header>

        <ng-template #lfTableRowTemplate let-id="id">
          <tr lf-table-row [path]="id">
            <td lf-table-cell><lf-text path="firstName"></lf-text></td>
            <td lf-table-cell><lf-text path="lastName"></lf-text></td>
            <td lf-table-cell><lf-number path="age"></lf-number></td>
            <td lf-table-cell><lf-checkbox path="married"></lf-checkbox></td>
            <td lf-table-cell><lf-select path="profession"></lf-select></td>
          </tr>
        </ng-template>
      </lf-table>
    </docs-playground>
  </section>
</lf-form>
