<lf-form *mobxAutorun path="tutorial/part4">
  <section>
    <p>
      In this final part of the tutorial we will be adding "computed fields" to
      our application: these are fields whose value depends solely on other
      values. For example, the final price that the user will have to pay for
      their reservation should be computed from the rest of the data they have
      entered.
    </p>

    <p>
      If you are following the tutorial online and have lost your progress, the
      following link will provide you the base for this part of the tutorial:
      <a
        href="https://stackblitz.com/github/opensoft-sa/hotel-reservation/tree/validations"
        target="_blank"
        rel="noopener noreferrer"
        >StackBlitz [Validations]</a
      >.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="addComputedFields">Add computed fields</h2>

    <p>
      We can declare computed fields in LF by setting the
      <code>computedValue</code> property of a schema. As we will see, creating
      a computed field is very similar to writing a custom validation: all that
      is needed is a function that receives a storage instance (with its
      "current working path" set to the field's parent) as an argument and
      returns a value. The function will be recomputed as needed whenever a
      value it depends on changes.
    </p>

    <p>
      As an example, let us specify the prices of the rooms to be reserved by
      our guests. Let us say that the price for a night in a room of type single
      is €50 and that the price per night for double or twin rooms is €90.
    </p>

    <p>
      Let's start by adding a <code>price</code> field to the schema of a room
      so that our rooms' schema at
      <code
        >src/app/components/reservation-details/reservation-details.schema.ts</code
      >
      looks something like the following:
    </p>

    <docs-code
      language="typescript"
      [code]="roomsSchemaCode"
      [options]="{ isValue: true }"
    ></docs-code>

    <p>
      And proceed by defining <code>roomPrice</code> as the following function:
    </p>

    <docs-code language="typescript" [code]="roomPriceFnCode"></docs-code>

    <p>
      We can then add a new "price" column to the rooms table at
      <code
        >src/app/components/reservation-details/reservation-details.component.html</code
      >
      with:
    </p>

    <docs-code language="html" [code]="roomsHtmlCode"></docs-code>

    <p>
      And finally make the following changes to the i18n file at
      <code
        >src/app/components/reservation-details/__i18n__/reservation-details.i18n.en-US.ts</code
      >
      in order to display the price nicely:
    </p>

    <docs-code
      language="typescript"
      [code]="reservationDetailsI18nCode"
      [options]="{ isValue: true }"
    ></docs-code>

    <p>
      When running the application, you should now notice that you have a
      read-only field displaying the price of each reserved room.
    </p>

    <p>
      And that's the gist of computed fields! As an exercise, add a
      <code>total-amount</code> computed field to your application that displays
      the final amount the user will have to pay. You may want to add "interim
      computed fields" such as "number of nights spent at the hotel" or "total
      amount per night" to make computing the total simpler.
    </p>

    <p>
      After adding this computed field, your application should look something
      like the one at:
      <a
        href="https://stackblitz.com/github/opensoft-sa/hotel-reservation/tree/computed-fields"
        target="_blank"
        rel="noopener noreferrer"
        >StackBlitz [Computed fields]</a
      >.
    </p>

    <p>With this we conclude our tutorial. Well done!</p>
  </section>

  <section>
    <h2 docs-heading ref="improvements">Improve your application</h2>

    <p>
      If you have the time and would like to continue improving your
      application, feel free to implement any changes that you feel would make
      sense. The following is a list of suggested improvements:
    </p>

    <ul>
      <li>Add more fields that you feel make sense.</li>
      <li>
        Make UI changes using
        <a
          href="https://getbootstrap.com/docs"
          target="_blank"
          rel="noopener noreferrer"
          >Bootstrap</a
        >
        (already provided by LF) to better align some fields (<em>e.g.</em>
        display some fields side by side).
      </li>
      <li>
        If you know more than one language, offer support for it (in our example
        available in the next link we support both <code>en-US</code> and
        <code>pt-PT</code>).
      </li>
      <li>
        Provide a "finalise" page where users can see a summary of the
        reservation they are about to make and accept/cancel it.
      </li>
    </ul>

    <p>
      A "final" version of our application with some improvements implemented
      can be found at:
      <a
        href="https://stackblitz.com/github/opensoft-sa/hotel-reservation"
        target="_blank"
        rel="noopener noreferrer"
        >StackBlitz [Final]</a
      >.
    </p>
  </section>
</lf-form>
