.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $green;
}

.token.punctuation {
  color: $gray-600;
}

.namespace {
  opacity: 0.7;
}

.token.undefined {
  color: $gray-700;
}

.token.keyword,
.token.boolean,
.token.property,
.token.tag,
.token.symbol,
.token.deleted {
  color: darken($blue, 10%);
}

.token.function,
.token.class-name,
.token.constant,
.token.number,
.token.url,
.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted {
  color: lighten($blue, 12%);
}

.token.entity,
.token.regex,
.token.important,
.token.variable,
.token.string,
.token.atrule,
.token.attr-value {
  color: $red;
}

.token.operator {
  color: darken($yellow, 10%);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
