<lf-form *mobxAutorun #form path="components/formElements/checkboxGroup">
  <section>
    <p>
      The
      <docs-api-ref
        pkg="bootstrap-theme"
        name="CheckboxGroupComponent"
      ></docs-api-ref>
      exposes the <code>&lt;lf-checkbox-group&gt;</code> element, used to edit
      values with a <code>list</code> schema where each element of said list
      should be chosen from a list of available options.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="liveExample">Live example</h2>

    <docs-playground
      [schemaInputPaths]="['schemaOptions', 'elementsSchemaOptions']"
      [schemaCode]="schemaCode"
      [htmlInputPaths]="['inputs']"
      [htmlOutputPaths]="['outputs']"
      [htmlCode]="htmlCode"
      [i18nInputPaths]="['i18n']"
      [i18nCode]="i18nCode"
      [state]="state"
      #playground
    >
      <lf-checkbox-group
        path="checkboxGroup"
        [displayInline]="form.relativeStorage.get('inputs/displayInline')"
        [isReadOnly]="form.relativeStorage.get('inputs/isReadOnly')"
        (change)="playground.emitEvent('change', $event)"
      ></lf-checkbox-group>
    </docs-playground>
  </section>
</lf-form>
