<lf-form *mobxAutorun #form path="components/formElements/textarea">
  <section>
    <p>
      The
      <docs-api-ref
        pkg="bootstrap-theme"
        name="TextareaComponent"
      ></docs-api-ref>
      exposes the <code>&lt;lf-textarea&gt;</code> element, used to edit values
      with a non-nullable <code>string</code> schema. Text within a textarea
      component may span across multiple lines.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="liveExample">Live example</h2>

    <docs-playground
      [schemaInputPaths]="['schemaOptions']"
      [schemaCode]="schemaCode"
      [htmlInputPaths]="['inputs']"
      [htmlOutputPaths]="['outputs']"
      [htmlCode]="htmlCode"
      [i18nInputPaths]="['i18n']"
      [i18nCode]="i18nCode"
      [state]="state"
      #playground
    >
      <lf-textarea
        path="textarea"
        [initialHeight]="form.relativeStorage.get('inputs/initialHeight')"
        [isReadOnly]="form.relativeStorage.get('inputs/isReadOnly')"
        (change)="playground.emitEvent('change', $event)"
      ></lf-textarea>
    </docs-playground>
  </section>
</lf-form>
