<lf-form path="/relationships">
  <lf-table path="relationshipsTable">
    <lf-table-header>
      <lf-table-column id="personOne"></lf-table-column>
      <lf-table-column id="personTwo"></lf-table-column>
      <lf-table-column id="relationship"></lf-table-column>
    </lf-table-header>

    <ng-template #lfTableRowTemplate let-id="id">
      <tr lf-table-row [path]="id">
        <td lf-table-cell><lf-select path="personOne"></lf-select></td>
        <td lf-table-cell><lf-select path="personTwo"></lf-select></td>
        <td lf-table-cell><lf-select path="relationship"></lf-select></td>
      </tr>
    </ng-template>
  </lf-table>
</lf-form>
