<lf-form [path]="path">
  <lf-card>
    <lf-card-content contentType="header">
      <lf-i18n key="P16_HEADER"></lf-i18n>
    </lf-card-content>
    <lf-card-content contentType="body">
      <lf-radio path="p16RadioA" [displayInline]="true"></lf-radio>
      <lf-radio path="p16RadioB" [displayInline]="true"></lf-radio>
      <lf-radio path="p16RadioC" [displayInline]="true"></lf-radio>
      <lf-radio path="p16RadioD" [displayInline]="true"></lf-radio>
      <lf-radio path="p16RadioE" [displayInline]="true"></lf-radio>
      <lf-radio path="p16RadioF" [displayInline]="true"></lf-radio>
      <lf-radio path="p16RadioG" [displayInline]="true"></lf-radio>
    </lf-card-content>
  </lf-card>

  <lf-card>
    <lf-card-content contentType="header">
      <lf-i18n key="P17_HEADER"></lf-i18n>
    </lf-card-content>
    <lf-card-content contentType="body">
      <lf-radio path="p17RadioA" [displayInline]="true"></lf-radio>
      <lf-radio path="p17RadioB" [displayInline]="true"></lf-radio>
      <lf-radio path="p17RadioC" [displayInline]="true"></lf-radio>
      <lf-radio path="p17RadioD" [displayInline]="true"></lf-radio>
    </lf-card-content>
  </lf-card>

  <lf-card>
    <lf-card-content contentType="header">
      <lf-i18n key="P18_HEADER"></lf-i18n>
    </lf-card-content>
    <lf-card-content contentType="body">
      <lf-radio path="p18Radio"></lf-radio>
    </lf-card-content>
  </lf-card>
</lf-form>
