<lf-form *mobxAutorun #form path="tutorial">
  <section>
    <p>
      Welcome to the tutorial on how to use Lightweightform (or LF for short):
      an Angular based open-source library that simplifies the development of
      demanding web forms as single-page applications.
    </p>

    <p>
      Because you'll be using an Angular library, for this tutorial, we expect
      readers to have at least a basic understanding of how Angular works. If
      you're new to Angular, we suggest you first take a look at the
      <a
        href="https://angular.io/docs"
        target="_blank"
        rel="noopener noreferrer"
        >Angular documentation</a
      >
      to familiarise yourself with the framework.
    </p>

    <p>This tutorial is divided in four parts:</p>

    <ol>
      <li>
        <strong>Setup:</strong> in this first part, we create a new Angular
        application and set up its structure by creating blank form pages with
        the help of LF's schematics. In this part we explain the changes
        introduced by the schematics and the purpose of each newly created file.
      </li>
      <li>
        <strong>Form fields:</strong> in this part we go over how to add fields
        of different types (strings, numbers, tables, etc.) to each form page.
      </li>
      <li>
        <strong>Validations:</strong> in this part we explain how form data can
        be validated in LF.
      </li>
      <li>
        <strong>Computed fields</strong>: for the last part, we go over the
        concept of computed fields (fields whose values can be represented as a
        computation of other field values).
      </li>
    </ol>

    <p>
      You will be able to follow this tutorial either locally or online via
      StackBlitz (a web-based IDE).
    </p>
  </section>

  <section>
    <h2 docs-heading ref="about">Hotel reservation application</h2>
    <p>
      In this tutorial you will be developing a "hotel reservation" application:
      a hypothetical web-form where customers will make reservations for a
      fictional hotel. This web-form will contain the following parts:
    </p>

    <ul>
      <li>
        <strong>Reservation details:</strong> a form page where customers will
        be able to fill in the details of their reservation (<em>e.g.</em>
        check-in/check-out dates) and be presented with the final amount they
        will have to pay to finish the reservation.
      </li>
      <li>
        <strong>Guests:</strong> a collection of form pages, each to be filled
        with information about each guest (<em>e.g.</em> their names and birth
        dates).
      </li>
    </ul>

    <p>
      A final version of this application can be found here:
      <a
        href="https://stackblitz.com/github/opensoft-sa/hotel-reservation?embed=1&view=preview"
        target="_blank"
        rel="noopener noreferrer"
        >StackBlitz [Final]</a
      >. Despite being simple, it should demonstrate most of LF's more advanced
      features. Have fun!
    </p>
  </section>

  <section>
    <h2 docs-heading ref="requirements">Requirements</h2>

    <section>
      <h3 docs-heading ref="requirementsLocal">Local version</h3>
      <ul>
        <li>
          <a
            href="https://nodejs.org/en/"
            target="_blank"
            rel="noopener noreferrer"
            >Node.js/npm</a
          >
        </li>
        <li>
          <a
            href="https://cli.angular.io/"
            target="_blank"
            rel="noopener noreferrer"
            >Angular CLI</a
          >
        </li>
        <li>
          Internet connection for the initial installation of dependencies.
        </li>
      </ul>
    </section>

    <section>
      <h3 docs-heading ref="requirementsStackBlitz">StackBlitz version</h3>
      <ul>
        <li>
          <p>
            Internet connection for initially opening the web editor, after
            which the tutorial may be followed without a working connection.
          </p>
        </li>
      </ul>
    </section>
  </section>
</lf-form>
