<ng-container *mobxAutorun>
  <lf-app>
    <!-- Top-bar of the application -->
    <lf-top-bar [actions]="actions">
      <!-- Title -->
      <img
        id="lf-logo"
        src="assets/logo-lf.png"
        srcset="assets/logo-lf.png 36w, assets/logo-lf-big.png 86w"
        sizes="36px"
        alt="Lightweightform logo"
        width="36"
        height="38"
      /><span class="d-none d-md-inline">Documentation</span
      ><span class="d-md-none">Docs</span>
    </lf-top-bar>

    <!-- Tree-nav -->
    <lf-tree-nav></lf-tree-nav>

    <!-- Content -->
    <router-outlet></router-outlet>
  </lf-app>
</ng-container>
