<h1 class="mt-4">@lightweightform/numeric-input</h1>

<!-- Example -->
<h2 class="mt-4"><label for="numericInput">Example</label></h2>
<div class="row">
  <form class="col-md-8">
    <input
      demoNumericInput
      #numericInput="demoNumericInput"
      [attr.value]="value"
      (valueChange)="onValueChange($event)"
      id="numericInput"
      name="numericInput"
      [numericRepresentation]="options.numericRepresentation"
      [scale]="options.scale"
      [leadingZeroes]="options.leadingZeroes"
      [min]="options.min"
      [max]="options.max"
      [prefix]="options.prefix"
      [suffix]="options.suffix"
      [decimalSeparator]="options.decimalSeparator"
      [thousandsSeparator]="options.thousandsSeparator"
      class="form-control text-right"
      [class.is-invalid]="!numericInput.isValid()"
      inputmode="numeric"
      spellcheck="false"
      autocomplete="off"
      autofocus
    />
    <div class="invalid-feedback text-right" *ngIf="!numericInput.isValid()">
      Number is out of bounds.
    </div>
  </form>
  <div class="col-md-4">
    <code>toNumber() = {{ numberToString(numericInput.toNumber()) }}</code>
  </div>
</div>

<!-- Options -->
<div class="row mt-4">
  <div class="col-md-8">
    <form class="jumbotron form-horizontal">
      <div class="form-group row">
        <label for="numericRepresentation" class="col-md-4 col-form-label">
          numericRepresentation
        </label>
        <div class="col-md-8">
          <select
            id="numericRepresentation"
            name="numericRepresentation"
            [(ngModel)]="options.numericRepresentation"
            (ngModelChange)="onOptionChange()"
            class="custom-select"
          >
            <option value="float">float</option>
            <option value="int">int</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="scale" class="col-md-4 col-form-label">scale</label>
        <div class="col-md-8">
          <input
            id="scale"
            name="scale"
            [(ngModel)]="options.scale"
            (ngModelChange)="onOptionChange()"
            type="number"
            class="form-control"
            [class.is-invalid]="
              options.scale != null &&
              !numericInput.validOptions({ scale: options.scale })
            "
            min="0"
            max="100"
            step="1"
            placeholder="0"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="leadingZeroes" class="col-md-4 col-form-label">
          leadingZeroes
        </label>
        <div class="col-md-8">
          <input
            id="leadingZeroes"
            name="leadingZeroes"
            [(ngModel)]="options.leadingZeroes"
            (ngModelChange)="onOptionChange()"
            type="number"
            class="form-control"
            [class.is-invalid]="
              options.leadingZeroes != null &&
              !numericInput.validOptions({
                leadingZeroes: options.leadingZeroes
              })
            "
            min="1"
            step="1"
            placeholder="1"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="min" class="col-md-4 col-form-label">min</label>
        <div class="col-md-8">
          <input
            id="min"
            name="min"
            [(ngModel)]="options.min"
            (ngModelChange)="onOptionChange()"
            type="number"
            class="form-control"
            [class.is-invalid]="
              options.min != null &&
              options.max != null &&
              !numericInput.validOptions({ min: options.min, max: options.max })
            "
            placeholder="-Infinity"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="max" class="col-md-4 col-form-label">max</label>
        <div class="col-md-8">
          <input
            id="max"
            name="max"
            [(ngModel)]="options.max"
            (ngModelChange)="onOptionChange()"
            type="number"
            class="form-control"
            [attr.min]="options.min"
            [class.is-invalid]="
              options.min != null &&
              options.max != null &&
              !numericInput.validOptions({ min: options.min, max: options.max })
            "
            placeholder="Infinity"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="prefix" class="col-md-4 col-form-label">prefix</label>
        <div class="col-md-8">
          <input
            id="prefix"
            name="prefix"
            [(ngModel)]="options.prefix"
            (ngModelChange)="onOptionChange()"
            type="text"
            class="form-control"
            [class.is-invalid]="
              !numericInput.validOptions({ prefix: options.prefix })
            "
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="suffix" class="col-md-4 col-form-label">suffix</label>
        <div class="col-md-8">
          <input
            id="suffix"
            name="suffix"
            [(ngModel)]="options.suffix"
            (ngModelChange)="onOptionChange()"
            type="text"
            class="form-control"
            [class.is-invalid]="
              !numericInput.validOptions({ suffix: options.suffix })
            "
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="decimalSeparator" class="col-md-4 col-form-label">
          decimalSeparator
        </label>
        <div class="col-md-8">
          <input
            id="decimalSeparator"
            name="decimalSeparator"
            [(ngModel)]="options.decimalSeparator"
            (ngModelChange)="onOptionChange()"
            type="text"
            minlength="1"
            maxlength="1"
            class="form-control"
            placeholder="."
            [class.is-invalid]="
              options.decimalSeparator &&
              !numericInput.validOptions({
                decimalSeparator: options.decimalSeparator
              })
            "
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="thousandsSeparator" class="col-md-4 col-form-label">
          thousandsSeparator
        </label>
        <div class="col-md-8">
          <input
            id="thousandsSeparator"
            name="thousandsSeparator"
            [(ngModel)]="options.thousandsSeparator"
            (ngModelChange)="onOptionChange()"
            type="text"
            maxlength="1"
            class="form-control"
            [class.is-invalid]="
              !numericInput.validOptions({
                thousandsSeparator: options.thousandsSeparator
              })
            "
          />
        </div>
      </div>

      <!-- Trigger update -->
      <hr />
      <div class="form-group row mb-0">
        <label for="updateValue" class="col-md-4 col-form-label">
          Trigger an update
        </label>
        <div class="col-md-8">
          <div class="input-group">
            <input
              id="updateValue"
              name="updateValue"
              [(ngModel)]="updateValue"
              (ngModelChange)="onUpdateValueChange()"
              class="form-control"
            />
          </div>
          <div class="btn-group mt-1 w-100">
            <button
              type="button"
              class="btn btn-outline-secondary update-btn"
              (click)="numericInput.update(updateValue)"
            >
              update("<span class="update-arg">{{ updateValue }}</span
              >")
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary update-btn"
              (click)="numericInput.update(numericUpdateValue)"
            >
              update(<span class="update-arg">{{
                numberToString(numericUpdateValue)
              }}</span
              >)
            </button>
          </div>
          <small class="form-text text-muted text-right"
            >Call <code>update(…)</code> with a string or number</small
          >
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <div
      id="options-error"
      *ngIf="numericInput.optionsError"
      class="alert alert-danger"
      role="alert"
    >
      {{ numericInput.optionsError }}
    </div>
    <pre><code>options = {{ optionsToString(numericInput.optionsInEffect) }}</code></pre>
  </div>
</div>
