h1 {
  font-weight: 300;
  word-break: break-word;
}

.update-arg {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  max-width: 5rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

#options-error {
  word-break: break-word;
}
