<lf-form [path]="path">
  <lf-text path="p1Text"></lf-text>
  <lf-radio path="p2Radio" [displayInline]="true"></lf-radio>
  <lf-date path="p3Date"></lf-date>
  <lf-select path="p5Select"></lf-select>
  <lf-text path="p6Text"></lf-text>
  <lf-select path="p7Select"></lf-select>
  <lf-text path="p7Text"></lf-text>
  <lf-select path="p8Select"></lf-select>
  <lf-text path="p8Text"></lf-text>
  <lf-radio path="p9Radio" [displayInline]="true"></lf-radio>
  <lf-number path="p9OptionalNumber"></lf-number>
  <lf-text path="p9OptionalText"></lf-text>
</lf-form>
