@use 'sass:math';

docs-api {
  .method-parameter:not(:first-child) {
    margin-top: $spacer;
  }

  .package-entries {
    padding: $spacer;
    background-color: $gray-100;
    column-count: 1;

    @include media-breakpoint-up(md) {
      column-count: 2;
    }
    @include media-breakpoint-up(lg) {
      column-count: 3;
    }
  }
  .package-entry {
    word-break: break-all;
  }

  .class-description,
  .method-parameter-description,
  .method-return-description {
    & > p {
      display: inline;
    }

    & > pre {
      margin: math.div($spacer, 3) 0;
    }

    &::before {
      content: ' – ';
    }
  }

  .property-modifier,
  .method-modifier {
    background-color: $secondary;
    color: $gray-100;
    font-size: $font-size-base * 0.75;
    padding: math.div($spacer, 4);
    margin-right: math.div($spacer, 2);
    border-radius: $border-radius;
  }
}
