<ng-container *mobxAutorun>
  <div class="container">
    <!-- List all packages -->
    <ng-container *ngIf="!package">
      <h1>API</h1>

      <ng-container *ngFor="let package of packages">
        <h2 docs-heading [ref]="package">{{ packageName(package) }}</h2>
        <ng-container
          [ngTemplateOutlet]="packageEntries"
          [ngTemplateOutletContext]="{ $implicit: groupsOfPackage(package) }"
        ></ng-container>
      </ng-container>
    </ng-container>

    <!-- List specific package -->
    <ng-container *ngIf="package && !entry">
      <h1>{{ packageWithGroup }}</h1>
      <ng-container
        [ngTemplateOutlet]="packageEntries"
        [ngTemplateOutletContext]="{ $implicit: groupsOfPackage(package) }"
      ></ng-container>
    </ng-container>

    <!-- Entry -->
    <docs-api-entry *ngIf="entry" [entry]="entry"></docs-api-entry>
  </div>

  <!-- List of entries of a package -->
  <ng-template #packageEntries let-packageGroups>
    <section class="package-entries">
      <ng-container *ngFor="let group of packageGroups">
        <h3>{{ group.title }}</h3>
        <section>
          <ng-container *ngFor="let id of group.children">
            <div class="package-entry">
              <a [routerLink]="entryUrl(id)">{{ entryById(id).name }}</a>
            </div>
          </ng-container>
        </section>
      </ng-container>
    </section>
  </ng-template>
</ng-container>
