<lf-app>
  <!-- Top-bar of the application -->
  <lf-top-bar [actions]="actions">
    <!-- Title -->
    <div class="d-none d-md-block"><lf-i18n key="appTitleLg"></lf-i18n></div>
    <div class="d-md-none"><lf-i18n key="appTitleSm"></lf-i18n></div>
  </lf-top-bar>

  <!-- Tree-nav -->
  <lf-tree-nav></lf-tree-nav>

  <!-- Content -->
  <router-outlet></router-outlet>
</lf-app>

<!-- Modals to show application's schema and value -->
<lf-modal #schemaModal size="lg">
  <lf-modal-header>
    <lf-i18n key="appSchemaModalTitle"></lf-i18n>
  </lf-modal-header>
  <lf-modal-body>
    <pre>{{ lfStorage.schema() | json }}</pre>
  </lf-modal-body>
</lf-modal>

<lf-modal #valueModal size="lg">
  <lf-modal-header>
    <lf-i18n key="appValueModalTitle"></lf-i18n>
  </lf-modal-header>
  <lf-modal-body>
    <pre>{{ lfStorage.getAsJS() | json }}</pre>
  </lf-modal-body>
</lf-modal>
