<lf-form *mobxAutorun #form path="components/formElements/text">
  <section>
    <p>
      The
      <docs-api-ref pkg="bootstrap-theme" name="TextComponent"></docs-api-ref>
      exposes the <code>&lt;lf-text&gt;</code> element, used to edit values with
      a non-nullable <code>string</code> schema. Text within a text component
      should span across a single line.
    </p>
  </section>

  <section>
    <h2 docs-heading ref="liveExample">Live example</h2>

    <docs-playground
      [schemaInputPaths]="['schemaOptions']"
      [schemaCode]="schemaCode"
      [htmlInputPaths]="['inputs']"
      [htmlOutputPaths]="['outputs']"
      [htmlCode]="htmlCode"
      [i18nInputPaths]="['i18n']"
      [i18nCode]="i18nCode"
      [state]="state"
      #playground
    >
      <lf-text
        path="text"
        [isReadOnly]="form.relativeStorage.get('inputs/isReadOnly')"
        (change)="playground.emitEvent('change', $event)"
      ></lf-text>
    </docs-playground>
  </section>
</lf-form>
