<lf-form *mobxAutorun #form path="components/formElements/dateRange">
  <section>
    <p>
      The
      <docs-api-ref
        pkg="bootstrap-theme"
        name="DateRangeComponent"
      ></docs-api-ref>
      exposes the <code>&lt;lf-date-range&gt;</code> element, used to edit
      values with a nullable date range schema (a <code>tuple</code> schema with
      two <code>date</code> element schemas).
    </p>
  </section>

  <section>
    <h2 docs-heading ref="liveExample">Live example</h2>

    <docs-playground
      [schemaInputPaths]="['schemaOptions']"
      [schemaCode]="schemaCode"
      [htmlInputPaths]="['inputs']"
      [htmlOutputPaths]="['outputs']"
      [htmlCode]="htmlCode"
      [i18nInputPaths]="['i18n']"
      [i18nCode]="i18nCode"
      [state]="state"
      #playground
    >
      <lf-date-range
        path="dateRange"
        [isReadOnly]="form.relativeStorage.get('inputs/isReadOnly')"
        (change)="playground.emitEvent('change', $event)"
      ></lf-date-range>
    </docs-playground>
  </section>
</lf-form>
