<lf-form *mobxAutorun path="schematics">
  <section>
    <p>
      LF's default theme (Bootstrap theme) offers two schematics that should
      make developer's lives easier:
    </p>

    <ul>
      <li><code>init</code>: initialises a new LF application.</li>
      <li><code>form</code>: creates a new LF form.</li>
    </ul>
  </section>

  <section>
    <h2 docs-heading ref="init">Init schematic</h2>

    <p>
      The <code>init</code> schematic is automatically ran if the Bootstrap
      theme is installed via an <code>ng add</code> command. However, it may
      also be called with
      <code>ng generate @lightweightform/bootstrap-theme:init</code> after the
      <code>@lightweightform/bootstrap-theme</code> package has been installed.
    </p>

    <p>
      The following are the main supported options (run
      <code>ng g @lightweightform/bootstrap-theme:init --help</code> after the
      package is installed to list all available options):
    </p>

    <ul>
      <li>
        <code>--module</code> (<code>-m</code>): module on which to set up LF
        (defaults to the "root" module).
      </li>
      <li>
        <code>--locales</code> (<code>-l</code>): locales to support for i18n
        (comma separated). E.g. <code>pt-PT,en-US</code>. Defaults to
        <code>en-US</code>.
      </li>
      <li>
        <code>--i18n-folder-name</code>: the name of the folder where i18n
        translations are to be kept. The default folder name is
        <code>__i18n__</code>.
      </li>
      <li>
        <code>--router-base-path</code> (<code>-r</code>): base path to set for
        the LF routing.
      </li>
    </ul>

    <p>
      The following example initialises LF within the <code>mod</code> module
      with support for the <code>en-US</code> and <code>pt-PT</code> locales:
    </p>

    <docs-code [code]="initExample"></docs-code>
  </section>

  <section>
    <h2 docs-heading ref="form">Form schematic</h2>

    <p>
      The <code>form</code> schematic can be used to generate an LF form or a
      collection of LF forms and works similarly to Angular's
      <code>component</code> schematic, in this case requiring the name of the
      form to be created as an argument.
    </p>

    <p>
      This schematic supports most of the options available when creating a new
      Angular component, as well as the following options (run
      <code>ng g @lightweightform/bootstrap-theme:form --help</code> to list all
      available options):
    </p>

    <ul>
      <li>
        <code>--module</code> (<code>-m</code>): module on which LF has been set
        up and where to create the form (or collection of forms).
      </li>
      <li>
        <code>--parent-path</code> (<code>-p</code>): the parent storage path of
        the form (or collection of forms). If not provided, the path will be
        inferred from the location of the form in the project's structure.
      </li>
      <li>
        <code>--collection</code> (<code>-c</code>): create a collection of
        forms, in which case the provided name has to contain the name of the
        collection, e.g. <code>my-collection/my-form</code>.
      </li>
    </ul>

    <p>
      The following example creates an LF form named <code>my-form</code> in the
      root module:
    </p>

    <docs-code [code]="formExample"></docs-code>

    <p>
      While the following creates a collection <code>my-collection</code> of
      <code>another-form</code> within <code>my-form</code>.
    </p>

    <docs-code [code]="collectionExample"></docs-code>
  </section>
</lf-form>
