<ng-container *mobxAutorun>
  <lf-form #household path="/household">
    <lf-table path=".">
      <lf-table-header>
        <lf-table-column id="p1Text" [minWidth]="150"></lf-table-column>
        <lf-table-column
          id="form"
          [fixed]="true"
          [minWidth]="200"
        ></lf-table-column>
      </lf-table-header>

      <ng-template #lfTableRowTemplate let-id="id">
        <tr lf-table-row [path]="id">
          <td lf-table-cell><lf-text path="p1Text"></lf-text></td>
          <td lf-table-cell>
            <a
              lf-button
              [style]="'outline-success'"
              size="sm"
              [block]="true"
              [routerLink]="id"
              queryParamsHandling="merge"
            >
              <lf-icon icon="share-square-o"></lf-icon>
              <!-- Different string depending on screen size -->
              <span class="d-none d-md-inline">
                <lf-i18n path=".." key="goToFormLg"></lf-i18n>
              </span>
              <span class="d-md-none">
                <lf-i18n path=".." key="goToFormSm"></lf-i18n>
              </span>
            </a>
          </td>
        </tr>
      </ng-template>
    </lf-table>
  </lf-form>
</ng-container>
